/* Estilos básicos para el layout del admin */

.adm-layout-container {
  display: flex;
  min-height: 100vh;
}

.adm-sidebar {
  width: 280px;
  background-color: #343a40; /* Un color oscuro para el admin nav */
  color: white;
  padding: 20px;
}

.adm-sidebar .nav-link {
  color: #c2c7d0;
}

.adm-sidebar .nav-link:hover {
  color: #ffffff;
  background-color: #495057;
}

.adm-content {
  flex-grow: 1;
  padding: 30px;
  background-color: #f4f6f9; /* Un fondo gris claro para el contenido */
}
