.sidebar {
  background-color: #ffe0f0;
}

.logoPosition {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
}

.logoPosition .logoHome {
  width: 80px;
}

.logoText {
  margin: 10px 30px 20px;
  color: #d73385;
  font-size: 20px;
  font-weight: 100 bold;
  text-align: center;
}

.vista-cliente {
  background-color: #ffffff;
}

.sidebar .nav-link {
  color: rgb(42, 42, 42);
  padding-left: 1.5rem;
}

.sidebar .nav-link:hover {
  color: #d73385;
}
